@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@383&family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* Root */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */

.headerDiv {
  background-color: #2f2fa2;
  height: fit-content;
  display: flex;
  margin-bottom: 50px;
  padding: 15px 15px 15px 10%;
  box-shadow: rgba(169, 46, 240, 0.4) 0px 5px, rgba(169, 46, 240, 0.3) 0px 10px, rgba(169, 46, 240, 0.2) 0px 15px;
}
.headerDiv img {
  margin-left: 20px;
  height: 70px;
}

.headerDiv h2 {
  color: #f64c72;
  text-shadow: 2px 2px 5px red;
  margin: 15px 0 0 15px;
  font-size: 60px;
  font-weight: 600;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

/* Main Content */

.mainContent {
  margin: auto auto;
  border: solid black;
  width: 60%;
}

hr {
  margin: 20px;
}

h1 {
  font-family: 'Abril Fatface', Arial, Helvetica, sans-serif;
  font-weight: 350;
  margin: 20px;
  color: #fc3661;
}


/* Buttons */

.buttons {
  width: fit-content;
  font-size: 18px;
  padding: 10px 15px;
  outline: none;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background:  #535353;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
  cursor: pointer;
}

.buttons:hover {
  background: #ed3330;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

.addBtns {
  background:   #4c578b;
}
  
.addBtns:hover {
  background: #1157ec ;
}

/* Footer */

.footerDiv {
  border: solid black 2px;
  width: 100%;
  margin-top: 50px;
  text-align: center;
  background-color: #3030d4;
}

.footerDiv span {
  color: #f64c72;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

.footerDiv img {
  margin-left: 15px;
  height: 30px;
}